<!doctype html>
<html>
  <head>
    <title>Clinic Queue</title>
  </head>

  <body>
    <h1>Clinic Queue Mmanagement system</h1>

    <a href="/add">Add Patient</a>
    <a href="/serve">Serve Next Patient</a>

    <h2>Waiting List</h2>

    <ul>
      {% for patient in queue %}
      <li>{{patient.name}} - {{patient.arrival_time}}</li>
      {% endfor %}
    </ul>

    <h3>Patients Served Today: {{served}}</h3>
  </body>
</html>
<style>
  body {
    font-family: Arial;
    margin: 40px;
    background-color: #f5f5f5;
  }

  h1 {
    color: #2c3e50;
  }

  a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
  }
</style>
